$panelWidth = 300px

.admin-panel--inner
    width: $panelWidth;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: #424242;
    font-size: 15px;
    direction ltr

.dialog-plugin.admin-panel
    min-width: auto
    min-height: auto

.admin-blocks-palette
    position: fixed;
    left: $panelWidth;
    top: 0;
    width: $panelWidth;
    height: 100%;

.sortable-ghost
    opacity: 0.5;
    background: #9e9e9e;

.flip-list-move
    transition: transform 0.5s;

.no-move
    transition: transform 0s;

input, textarea
    font-size: 14px;
