@import 'variables';
@import 'node_modules/quasar/src/css/variables'

@import 'normalize'

// @import 'node_modules/quasar/src/css/critical'
@import 'node_modules/quasar/src/mixins/*'
@import 'node_modules/quasar/src/components/*/*'
@import 'node_modules/quasar/src/directives/*'
@import 'node_modules/quasar/src/plugins/*'
@import 'node_modules/quasar/src/css/core/*'

@import 'admin'
